// span {
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   word-break: break-word;
// }

.playlist-content .card-image img {
  transition: all 0.7s;
}

.playlist-content .media-left:hover img {
  transform: scale(1.1);
}

.playlist-content .media-left:hover .overlay,
.playlist-content .media-left:hover .action-container {
  display: block;
}
