.zm-room {
  // background-image: url(./Image/e1887a2c79f9d3d04984905cbf443a29.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-position: 50%;
  width: 100%;
}

.zm-room-content {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0,
    transparent 33%,
    transparent 66%,
    rgba(0, 0, 0, 0.4)
  );
}

.zm-room-opacity {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 0,
    transparent 33%,
    transparent 66%,
    rgba(0, 0, 0, 0.7)
  );
}

.zm-room-comment .media-right {
  background-color: hsla(0, 0%, 100%, 0.1);
}

::placeholder {
  font-size: 14px;
  color: #fff;
  opacity: 1;
}

.comment-input .control input {
  background-color: unset;
}

.zm-room-content .box-media-play a:hover .media-right {
  color: #3BC8E7;
}

.zm-room-wrapper .swiper {
  position: unset;
  overflow: unset;
}

.zm-room-wrapper .swiper-slide {
  height: unset !important;
}

.zm-room-wrapper .swiper-button-prev:after,
.zm-room-wrapper .swiper-button-next:after {
  transform: rotate(90deg);
}

.zm-room-wrapper .swiper-button-prev,
.zm-room-wrapper .swiper-button-next {
  margin-top: unset !important;
}

.zm-room-wrapper .swiper-button-prev {
  top: 0 !important;
}

.zm-room-wrapper .swiper-button-next {
  bottom: 0 !important;
  top: unset !important;
  height: unset !important;
}

.zm-room-wrapper .swiper-button-next,
.zm-room-wrapper .swiper-button-prev {
  width: 100% !important;
  height: 55px !important;
  left: 50%;
  transform: translateX(-50%) !important;
  color: #fff !important;
}

.zm-room-wrapper .swiper-button-prev::after,
.zm-room-wrapper .swiper-button-next::after {
  font-size: 20px !important;
  color: #fff;
}

.zm-room-wrapper .swiper-button-next {
  background: linear-gradient(180deg, transparent, #000);
}

.zm-room-wrapper .swiper-button-prev {
  background: linear-gradient(0deg, transparent, #000);
}


.item-hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top:-7px;
  right: 13px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000;
}
