.ant-menu-item{
    display: flex !important;
    margin-left: 15px;
    align-items: center !important;
  }
  
  .ant-menu-submenu-title{
    display: flex !important;
    align-items: center !important;
  
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 10px;
    -webkit-box-shadow: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc !important;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }

  /* Width of the scrollbar */
::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track (the area on the sides of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #ebebeb !important; /* Light grey */

  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #ccc; /* Grey */
    border-radius: 10px; /* Round corners */
  }
  
  /* On hover, don't forget this */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Dark grey */
    cursor: pointer !important;
  }
  /* table */
  /* form */
  .ant-form-item .ant-form-item-control-input{
    min-width: 470px
  }


  .input-search input{
    background-color: #2f2739 !important;
    color: white;
  }

  .input-search input::placeholder{
    color: white !important;
    opacity: 0.8;
  }

  .ant-dropdown{
    height: 400px;
    overflow-y: auto;
  }

  .ant-dropdown-menu{
    background-color: #2f2739 !important;
    width: 100% !important;
  }

  .ant-dropdown-menu .ant-dropdown-menu-item {
    color: white !important;
    width: 100% !important;
    padding: 0 !important;
    max-height: 300px;
  }