@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../../../public/font/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  font-family: Inter,sans-serif;
}

.zmp3-logo {
  background: url('/logo-dark.svg') 50% / contain no-repeat;
}

.sidebar-divide::after {
  content: "";
  border-top: 1px solid #32323d;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}
.wall{
  &:hover{
    .wallSong{
      img{
        filter: brightness(80%);
      }
    }
    .pause{
      display: block;
    }
  }
  .pause{
    display: none;
  }
}
@layer components {
  .fjc {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}