.ant-dropdown{
    min-width: 200px !important;
}

.ant-dropdown .ant-dropdown-menu{
    background-color: #170F23 !important; 
    padding:5px 20px !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
color: white !important;
}